@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scroll-behavior: smooth;
    scroll-padding: 6rem;
  }

  .stats-gradient-bg,
  .gradient-bg {
    background: radial-gradient(
      50.11% 50.11% at 50% 49.89%,
      #6759ff 0%,
      #3729d9 100%
    );
  }

  .footer {
    border-top-left-radius: 850px 70px;
    border-top-right-radius: 850px 70px;
  }
}
